#define MAINICON     400
#define ID_BMP       402

#define IDC_PLAY     300
#define IDC_STOP     301
#define IDC_PAUSE    302
#define IDC_MUTING   303

STRINGTABLE DISCARDABLE
BEGIN
IDC_PLAY "Load"
IDC_STOP "Stop"
IDC_PAUSE "Pause"
IDC_MUTING "Muting"
END

MAINICON ICON "player.ico"
ID_BMP BITMAP "tbar.bmp"
